# third party libs
third_party/

# build folders
build/

# outputs and generated data
outputs/

# calibration images
calibration/images_stereo/

# python cache
__pycache__/
*.pyc

# optional images
*.png

# IDE
.vscode/
.idea/
.cursor/